@tailwind base;
@tailwind components;
@tailwind utilities;

.game-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 15px;
    height: 60vh;
    padding: 0px 15px;
}

div[id~='game-'] {
    border-radius: 5px;
    height: 50px;
}

.game-grid>div {
    border-radius: 5px;
    box-shadow: 0px 1px 3px 0px #5d6b842e, 0px 6px 6px 0px #5d6b8426, 0px 13px 8px 0px #5d6b8417, 0px 23px 9px 0px #5d6b8408;
}

#game-0 {

    background-color: #BD957F;
    grid-row-start: 2;
    grid-column-start: 5;

    grid-row-end: 3;
    grid-column-end: 7;

}

#game-1 {

    background-color: #775BDB;
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 2;
    grid-column-end: 3;

}

#game-2 {

    background-color: #76E7DD;
    grid-row-start: 1;
    grid-column-start: 3;

    grid-row-end: 2;
    grid-column-end: 5;

}

#game-3 {

    background-color: #695BDB;
    grid-row-start: 1;
    grid-column-start: 5;

    grid-row-end: 2;
    grid-column-end: 7;

}

#game-4 {

    background-color: #E56DB5;
    grid-row-start: 1;
    grid-column-start: 7;

    grid-row-end: 2;
    grid-column-end: 9;

}

#game-5 {

    background-color: #BAFB98;
    grid-row-start: 1;
    grid-column-start: 9;

    grid-row-end: 2;
    grid-column-end: 11;

}

#game-6 {

    background-color: #97DA5C;
    grid-row-start: 1;
    grid-column-start: 11;

    grid-row-end: 2;
    grid-column-end: 13;

}

#game-7 {

    background-color: #979B9B;
    grid-row-start: 1;
    grid-column-start: 13;

    grid-row-end: 2;
    grid-column-end: 15;

}

#game-8 {

    background-color: #A5DA99;
    grid-row-start: 2;
    grid-column-start: 1;

    grid-row-end: 3;
    grid-column-end: 3;

}

#game-9 {

    background-color: #7FACD5;
    grid-row-start: 2;
    grid-column-start: 3;

    grid-row-end: 3;
    grid-column-end: 5;

}

#game-10 {

    background-color: #BD59BA;
    grid-row-start: 2;
    grid-column-start: 7;

    grid-row-end: 3;
    grid-column-end: 9;

}

#game-11 {

    background-color: #7CC7BB;
    grid-row-start: 2;
    grid-column-start: 9;

    grid-row-end: 3;
    grid-column-end: 11;

}

#game-12 {

    background-color: #D9DB9B;
    grid-row-start: 2;
    grid-column-start: 11;

    grid-row-end: 3;
    grid-column-end: 13;

}

#game-13 {

    background-color: #A7775D;
    grid-row-start: 2;
    grid-column-start: 13;

    grid-row-end: 3;
    grid-column-end: 15;

}

#game-14 {

    background-color: #57CD88;
    grid-row-start: 3;
    grid-column-start: 1;

    grid-row-end: 4;
    grid-column-end: 3;

}

#game-15 {

    background-color: #678C7B;
    grid-row-start: 3;
    grid-column-start: 3;

    grid-row-end: 4;
    grid-column-end: 5;

}

#game-16 {

    background-color: #D798C9;
    grid-row-start: 3;
    grid-column-start: 5;

    grid-row-end: 4;
    grid-column-end: 7;

}

#game-17 {

    background-color: #A79E9C;
    grid-row-start: 3;
    grid-column-start: 7;

    grid-row-end: 4;
    grid-column-end: 9;

}

#game-18 {

    background-color: #DDCD9F;
    grid-row-start: 3;
    grid-column-start: 9;

    grid-row-end: 4;
    grid-column-end: 11;

}

#game-19 {

    background-color: #A9FCA5;
    grid-row-start: 3;
    grid-column-start: 11;

    grid-row-end: 4;
    grid-column-end: 13;

}

#game-20 {

    background-color: #CD8957;
    grid-row-start: 3;
    grid-column-start: 13;

    grid-row-end: 4;
    grid-column-end: 15;

}

#game-21 {

    background-color: #996775;
    grid-row-start: 4;
    grid-column-start: 1;

    grid-row-end: 5;
    grid-column-end: 3;

}

#game-22 {

    background-color: #F99A96;
    grid-row-start: 4;
    grid-column-start: 3;

    grid-row-end: 5;
    grid-column-end: 5;

}

#game-23 {

    background-color: #B55B97;
    grid-row-start: 4;
    grid-column-start: 5;

    grid-row-end: 5;
    grid-column-end: 7;

}

#game-24 {

    background-color: #DED785;
    grid-row-start: 4;
    grid-column-start: 7;

    grid-row-end: 5;
    grid-column-end: 9;

}

#game-25 {

    background-color: #57CDC6;
    grid-row-start: 4;
    grid-column-start: 9;

    grid-row-end: 5;
    grid-column-end: 11;

}

#game-26 {

    background-color: #B59FBB;
    grid-row-start: 4;
    grid-column-start: 11;

    grid-row-end: 5;
    grid-column-end: 13;

}

#game-27 {

    background-color: #78D758;
    grid-row-start: 4;
    grid-column-start: 13;

    grid-row-end: 5;
    grid-column-end: 15;

}

.grid-game-type {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px;
    height: 160px;
    position: relative;
    margin: 0 15px;
    gap: 15px;
    margin-bottom: 15px;
}

.grid-game-type>div {
    border-radius: 5px;
}

#game-type-0 {

    background-color: #775BDB;
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 3;
    grid-column-end: 3;

}

#game-type-1 {

    background-color: #76E7DD;
    grid-row-start: 1;
    grid-column-start: 3;

    grid-row-end: 3;
    grid-column-end: 5;

}

#game-type-2 {

    background-color: #695BDB;
    grid-row-start: 1;
    grid-column-start: 5;

    grid-row-end: 3;
    grid-column-end: 7;

}

#game-type-3 {

    background-color: #E56DB5;
    grid-row-start: 1;
    grid-column-start: 7;

    grid-row-end: 3;
    grid-column-end: 9;

}

#game-type-4 {

    background-color: #BAFB98;
    grid-row-start: 1;
    grid-column-start: 9;

    grid-row-end: 3;
    grid-column-end: 11;

}

#game-type-5 {

    background-color: #97DA5C;
    grid-row-start: 1;
    grid-column-start: 11;

    grid-row-end: 3;
    grid-column-end: 13;

}

#game-type-6 {

    background-color: #979B9B;
    grid-row-start: 1;
    grid-column-start: 13;

    grid-row-end: 2;
    grid-column-end: 15;

}

#game-type-7 {

    background-color: #A7775D;
    grid-row-start: 2;
    grid-column-start: 13;

    grid-row-end: 3;
    grid-column-end: 15;

}